.container {
	height: 100%;
	position: relative;
}

.heading {
	background: var(--inset-background);
	margin: 0;
	padding: 8px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 4px;
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
}