.tickerIncentivesContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 64px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	color: var(--text-light);
	font-size: 30px;
	transform: translate(0, -64px);
	overflow: hidden;
	z-index: 2;
	font-family: var(--secondary-font);
}

.multiIncentiveContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
}