.tickerPrizesContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	z-index: 2;
	transform: translate(0, -64px);
}

.prizesScroller {
	width: fit-content;
	display: flex;
	align-items: center;
}