node_modules
coverage
bower_components
.yarn/*
.DS_Store
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vscode
.pnp.*
.vscode
/dashboard
/graphics
/extension
/bundle-analyzer
/shared/dist
*.mp4
config.json
speedcontrol-config.json

# NodeCG
/cfg
/bundles
/assets
/db
/logs
