.verticalInfoContainer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	z-index: 2;
	gap: 5px;
}

.verticalInfoContainer :global(#timer) {
	font-size: 270%;
}

.verticalInfoContainer :global(#gameTitle),
.verticalInfoContainer :global(#category) {
	max-width: 90%;
}

.verticalInfoContainer :global(#gameTitle) {
	font-size: 150%;
}

.verticalInfoContainer :global(#category) {
	font-weight: 600;
}

.verticalStack {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.horizontalStack {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 16px;
	width: 100%;
}