@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-ThinIta.eot');
    src: local('Helvetica Now Display Thin Ita'), local('HelveticaNowDisplay-ThinIta'),
        url('HelveticaNowDisplay-ThinIta.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-Light.eot');
    src: local('Helvetica Now Display Light'), local('HelveticaNowDisplay-Light'),
        url('HelveticaNowDisplay-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-BoldIta.eot');
    src: local('Helvetica Now Display Bold Ita'), local('HelveticaNowDisplay-BoldIta'),
        url('HelveticaNowDisplay-BoldIta.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-RegIta.eot');
    src: local('Helvetica Now Display Reg Ita'), local('HelveticaNowDisplay-RegIta'),
        url('HelveticaNowDisplay-RegIta.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-ExtLtIta.eot');
    src: local('Helvetica Now Display ExtLt Ita'), local('HelveticaNowDisplay-ExtLtIta'),
        url('HelveticaNowDisplay-ExtLtIta.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-MedIta.eot');
    src: local('Helvetica Now Display Med Ita'), local('HelveticaNowDisplay-MedIta'),
        url('HelveticaNowDisplay-MedIta.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-ExtLt.eot');
    src: local('Helvetica Now Display ExtLt'), local('HelveticaNowDisplay-ExtLt'),
        url('HelveticaNowDisplay-ExtLt.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-ExtBlk.eot');
    src: local('Helvetica Now Display ExtBlk'), local('HelveticaNowDisplay-ExtBlk'),
        url('HelveticaNowDisplay-ExtBlk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-Bold.eot');
    src: local('Helvetica Now Display Bold'), local('HelveticaNowDisplay-Bold'),
        url('HelveticaNowDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-ExtBdIta.eot');
    src: local('Helvetica Now Display ExtBd Ita'), local('HelveticaNowDisplay-ExtBdIta'),
        url('HelveticaNowDisplay-ExtBdIta.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-Regular.eot');
    src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),
        url('HelveticaNowDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-ExtBlkIta.eot');
    src: local('Helvetica Now Display ExBlk It'), local('HelveticaNowDisplay-ExtBlkIta'),
        url('HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-Thin.eot');
    src: local('Helvetica Now Display Thin'), local('HelveticaNowDisplay-Thin'),
        url('HelveticaNowDisplay-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-LightIta.eot');
    src: local('Helvetica Now Display Light Ita'), local('HelveticaNowDisplay-LightIta'),
        url('HelveticaNowDisplay-LightIta.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-ExtraBold.eot');
    src: local('Helvetica Now Display ExtBd'), local('HelveticaNowDisplay-ExtraBold'),
        url('HelveticaNowDisplay-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-Medium.eot');
    src: local('Helvetica Now Display Medium'), local('HelveticaNowDisplay-Medium'),
        url('HelveticaNowDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-HairlineI.eot');
    src: local('Helvetica Now Display Hairline'), local('HelveticaNowDisplay-HairlineI'),
        url('HelveticaNowDisplay-HairlineI.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-BlackIta.eot');
    src: local('Helvetica Now Display Black Ita'), local('HelveticaNowDisplay-BlackIta'),
        url('HelveticaNowDisplay-BlackIta.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-Black.eot');
    src: local('Helvetica Now Display Black'), local('HelveticaNowDisplay-Black'),
        url('HelveticaNowDisplay-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('HelveticaNowDisplay-Hairline.eot');
    src: local('Helvetica Now Display Hairline'), local('HelveticaNowDisplay-Hairline'),
        url('HelveticaNowDisplay-Hairline.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

