@font-face {
	font-family: "Bitcount";
	src: url("Bitcount-VariableFont_CRSV\,ELSH\,ELXP\,slnt\,wght.ttf");
	font-weight: 100 900;
	font-variation-settings: "CRSV" 0, "ELSH" 60, "ELXP" 70, "slnt" 0, "wght" 400;
}