.donationTotal {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 32px;

	.total {
		font-size: 180px;

		.totalText {

			/* ASAP26 */
			font-family: "Spicy Rice";
			-webkit-text-stroke: 8px var(--asap26-accent);
			paint-order: stroke fill;
			text-shadow: -5px 5px var(--asap26-text-shadow),
				-8px 8px #000;
		}

		position: relative;
		font-family: var(--mono-font);
		text-box-trim: trim-both;
		text-box-edge: ex alphabetic;
		line-height: 1;
		transform: translateY(0.25cap);
		margin: -0.25cap 0;

		.dollarSign {
			font-size: 80%;
		}
	}

	.link {
		font-size: 40px;
		text-transform: uppercase;

		/* ASAP26 */
		font-family: "Poppins";
		font-weight: 900;
		color: var(--asap26-accent);
		-webkit-text-stroke: 4px white;
		paint-order: stroke fill;
		text-shadow: -5px 5px var(--asap26-text-shadow), -6px 6px #000;
		margin-top: 20px;
	}

	.matchMultiplier {
		position: absolute;
		right: -45px;
		top: -30px;
		transform: rotate(15deg);

		background: white;

		padding: 8px;
		border-radius: 8px;

		font-family: var(--main-font);
		font-size: 30px;
		font-weight: 600;
		text-align: center;
		line-height: 0.8;

		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

		.number {
			background: var(--goc-gradient);
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;

			animation: gradientAnimation 5s ease infinite;
			background-size: 400% 400%;

			font-weight: 900;
		}

		.text {
			font-size: 75%;
		}
	}

	.asap26Filigree {
		margin-top: -40px;
	}
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}