.locationInfo {
	z-index: 2;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	
	font-size: 200%;
	text-transform: uppercase;

	&>* {
		text-box: trim-both cap alphabetic;
		line-height: 1;
	}


	.timeContainer {
		font-size: 100%;
		font-family: var(--mono-font);
		margin-top: 8px;
	}
}