.statusBox {
	height: 2rem;
	color: white;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.cellContainer {
	display: flex;
	align-items: center;
	height: 77px;
	width: 77px;
	border: 1px solid #ccc;
	transition: background-color 0.1s ease-in-out;
}

.cellContainer:hover {
	background-color: rgba(240, 240, 240, 0.21);
	cursor: pointer;
}

.cellText {
	font-size: 75%;
	text-align: center;
	width: 100%;
	padding: 0 2px;
	text-wrap: balance;
}