.dsContainer {
	height: 1016px;
	width: 1920px;
	display: flex;
	align-items: stretch;
}

.sidebar {
	height: 100%;
	width: 565px;
	border-right: 1px solid var(--sec);
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.infoBox {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	border-bottom: 1px solid var(--sec);
	font-size: 30px;
}

/* ASAP2026 */
.infoBox {
	:global(#gameTitle) {
		font-size: 200%;
	}

	:global(#category) {
		text-shadow: none;
		-webkit-text-stroke: 0px;
		font-weight: bold;
		color: var(--asap26-accent);
	}
}

.asapGreeble {
	position: absolute;
}

#swirlLeft {
	left: 0;
	top: 0;
	transform: scale(-1);
	z-index: 1;
}

#swirlRight {
	right: 0;
	top: 0;
	transform: scaleY(-1);
	z-index: 1;
}

#roundLeft {
	left: 0;
	top: -62px;
	transform: rotate(-90deg) scaleX(-1);
}

#roundRight {
	right: 0;
	top: -62px;
	transform: rotate(90deg);
}
