.gbaContainer {
	height: 1016px;
	width: 1920px;
	display: flex;
}

.sidebar {
	height: 100%;
	border-right: 1px solid var(--sec);
	overflow: hidden;
}

.sponsorsBox {
	width: 60%;
	height: 200px;
	z-index: 2;
}

.infoBoxBg {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 664px;
	padding: 10px;
	font-size: 25px;
}