.standardWidescreenContainer {
	height: 1016px;
	width: 1920px;
	position: relative;
}

.topbar {
	display: flex;
	position: absolute;
	height: 400px;
	width: 100%;
	overflow: hidden;
}

.leftBox {
	width: 524px;
	height: 100%;
	display: flex;
	position: relative;
	box-sizing: border-box;
}

.rightBox {
	width: 796px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 2;
	font-size: 28px;
}

.centralDivider {
	height: 618px;
	width: 1px;
	position: absolute;
	bottom: 0;
	left: 823px;
	background: var(--sec);
}

.wholeGraphicClip {
	position: absolute;
	width: 1920px;
	height: 1016px;
	clip-path: path("M 0 0 H 666 V 295 H 0 Z M 1920 0 H 1254 V 295 H 1921 Z ");
	z-index: 1;
}