.standardContainer {
	height: 1016px;
	width: 1920px;
	display: flex;
	align-items: stretch;
}

.sidebar {
	border-right: 1px solid var(--sec);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.infoBoxBg {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	/* padding: 10px 10px 30px; ASAP2026 */
	padding: 50px 10px 30px;
	box-sizing: border-box;
	flex-grow: 1;
	font-size: 30px;
}

.infoBoxBg {
	:global(#gameTitle) {
		max-width: 507px !important;
	}

	/* ASAP26 */
	:global(#category) {
		color: white;
		-webkit-text-stroke: 6px var(--asap26-accent);
		font-size: 40px;
		paint-order: stroke fill;

		> div {
			position: relative;
			isolation: isolate;

			&::before {
				content: attr(data-text);
				position: absolute;
				inset: 0;
				z-index: -1;
				color: transparent;
				-webkit-text-stroke: 0;
				text-shadow: -4px 4px var(--asap26-text-shadow), -6px 6px #000;
				white-space: pre-wrap;
				pointer-events: none;
			}
		}
	}
}

/* ASAP26 */
.asapGreeble {
	position: absolute;
}

#swirlLeft {
	left: 0;
	top: 200px;
	transform: scaleX(-1);
}

#swirlRight {
	right: 0;
	top: 200px;
}

#swirlBottomLeft {
	left: -20px;
	bottom: -75px;
	transform: rotate(-90deg) scaleX(-1);
	z-index: 1;
}

#swirlBottomRight {
	right: -20px;
	bottom: -75px;
	transform: rotate(90deg);
	z-index: 1;
}

#roundLeft {
	top: 60px;
	left: 0px;
}

#roundRight {
	top: 60px;
	right: 0px;
	transform: scaleX(-1);
}

#roundBottomLeft {
	bottom: 0px;
	left: 0px;
}

#roundBottomRight {
	bottom: 0px;
	right: 0px;
	transform: scaleX(-1);
}