.container {
	display: flex;
	align-items: stretch;
	gap: 8px;
	padding: 8px;
}

@keyframes error-flashing {
	0% {
		background-color: rgb(255, 48, 48);
	}

	100% {
		background-color: rgb(131, 0, 0);
	}
}

.statusIndicator {
	flex: 1;
	min-height: 24px;
	border-radius: 6px;
	background-color: gray;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	&[data-status="disconnected"] {
		background-color: #757575;
	}

	&[data-status="connecting"] {
		background-color: #0288d1;
	}

	&[data-status="connected"] {
		background-color: #388e3c;
	}

	&[data-status="warning"] {
		background-color: #fbc02d;
		color: black;
	}

	&[data-status="error"] {
		background-color: #d32f2f;
		animation: error-flashing 0.5s infinite linear alternate;
	}
}
