@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-VariableFont_wght.ttf");
	font-weight: 100 900;
}

@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-Italic-VariableFont_wght.ttf");
	font-weight: 100 900;
	font-style: italic;
}
