body {
	--orange: #cc7722;
	--teal: #3f7d8f;
	/* --background-color: var(--orange); */
	--text-color: light-dark(#000000, #ffffff);
	--top-bar-background: var(--orange);
	--mosaic-background: light-dark(#e9e9e9, #05070a);
	--panel-background: light-dark(#ffffff, #05070a);
	--inset-background: light-dark(#eeeeee, #2f2f2f);
	--inset-background-2: light-dark(#dddddd, #3f3f3f);
}
