.tickerContainer {
	height: 64px;
	width: 1920px;
	font-family: var(--main-font);
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	color: var(--light-text);
	--secondary-font: Poppins;
}

.contentArea {
	height: 64px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	font-family: var(--main-font);
}

.contentAreaBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-color: #FF7926;
	background-image: linear-gradient(0deg, #E80000, #FFA30F), url("./media/asap26/Spiral\ Pattern.png");
	background-repeat: no-repeat, repeat;
	background-blend-mode: hard-light, normal;
}

.leftBlock {
	display: flex;
	min-width: 304px;
}