body {
	margin: 0;
	--main: var(--pax24-main);
	--primary: var(--main);
	--nameplate: var(--main);
	--nameplate-lighter: var(--pax24-main-light);
	--sec: var(--asm-blue);
	--accent: var(--asm-blue);

	--text-light: white;
	--text-dark: var(--main);

	--main-font: var(--asm-font);
	--secondary-font: "Poppins";
	--mono-font: var(--asm-font);

	--asm-orange: #cc7722;
	--asm-blue: #437c90;
	--asm-blue-light: #6fa6b9;

	--asm-font: "Noto Sans";
	--asm-secondary-font: "Russo One";

	--orange-400: #ffa651;
	--orange-600: #964a00;
	--orange-500: #cc7722;

	/* GOC */
	--goc-gradient: linear-gradient(90deg, #6969CB 13%, #A967B7 27.8%, #E964A2 42.6%, #F08184 57.4%, #F89D65 72.2%, #FFBA47 87%);

	--pax24-main: #222721;
	--pax24-main-light: #444d42;
}
