body {
	margin: 0;
	--main: #05093f;
	--primary: var(--main);
	--nameplate: #202020;
	--nameplate-lighter: #292929;
	--sec: #1c6eaa;
	--accent: var(--sec);
	--text-light: white;
	--text-dark: #202020;

	--main-font: "Poppins";
	--secondary-font: "Poppins";
	--mono-font: var(--asm-font);
	--game-font: "Knewave";

	--asm-orange: #cc7722;
	--asm-blue: #437c90;
	--asm-blue-light: #6fa6b9;

	--asm-font: "Noto Sans";
	--asm-secondary-font: "Russo One";

	--orange-400: #ffa651;
	--orange-600: #b8561b;
	--orange-500: #cc7722;

	/* GOC */
	--goc-gradient: linear-gradient(
		90deg,
		#6969cb 13%,
		#a967b7 27.8%,
		#e964a2 42.6%,
		#f08184 57.4%,
		#f89d65 72.2%,
		#ffba47 87%
	);
}
