body {
	margin: 0;
	--main: #000000;
	--main-dark: #16223a;
	--sec: #ffc62f;
	--accent: #cdde00;
	--asm-orange: #cc7722;
	--text-light: #ffffff;
	--text-dark: #000000;
	--orange-400: #ffa651;
	--orange-600: #964a00;
	--orange-500: #cc7722;
}
