.capture {
	flex: 0 1 auto;
	min-width: 0;
	min-height: 0;
	max-width: 100%;
	max-height: 100%;
}

.grow {
	flex: 1 1 auto;
	align-self: center;
}

.testMode {
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}

.measurementDetails {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
