.nameLowerThirdContainer {
	display: flex;
}

.logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	overflow: hidden;
	width: 0;
}

.logo {
	height: 90px;
	width: 90px;
	object-fit: contain;
	padding: 12px;
}

.textContainer {
	background: var(--orange-500);
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 12px 0;
	overflow: hidden;
	box-sizing: border-box;
	width: 0;
}

.name {
	font-size: 42px;
	line-height: 42px;
	white-space: nowrap;
	padding: 0 12px;
	font-family: var(--secondary-font);
}

.subtitle {
	font-family: var(--main-font);
	font-size: 34px;
	line-height: 34px;
	white-space: nowrap;
	padding: 0 12px;
}

.indigenousFlagsImage {
	height: 256px;
	width: 203px;
	object-fit: contain;
	padding: 12px;
}

.acknowledgementText {
	font-family: var(--main-font);
	font-size: 29px;
	padding: 0 24px;
	text-align: justify;
	width: 1034px;
}