.categoryContainer {
	font-family: var(--category-font);
	text-transform: uppercase;

	/* ASAP26 */
	color: var(--asap26-accent);
	font-weight: bold;
}

.estimateContainer,
.yearContainer,
.systemContainer {
	font-family: var(--metadata-font);

	/* ASAP26 */
	font-weight: bold;
	color: var(--asap26-accent);
}

.estText {
	font-size: 50%;
}

.systemContainer {
	font-family: var(--metadata-font);
	max-width: 90%;
}

.gameContainer {
	font-family: var(--game-font);
	line-height: 1;

	/* ASAP26 */
	text-shadow: -3px 2px var(--asap26-text-shadow), -4px 4px #000;
	-webkit-text-stroke: 1px var(--asap26-accent);
}