.timerContainer {
	display: flex;
	align-items: flex-end;
	font-family: Seamless;
	color: var(--text-light);
	text-align: center;
	letter-spacing: 2px;
	justify-content: center;

	/* ASAP26 */
	text-shadow: -3px 2px var(--asap26-text-shadow), -4px 4px #000;
	-webkit-text-stroke: 3px var(--asap26-accent);
}

.milliText {
	font-size: 50%;
	margin-left: -3%;
}