.tickerItemContainer {
	height: 64px;
	width: fit-content;
	font-family: var(--main-font);
	color: var(--text-light);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	line-height: 1;
}

.verticalStack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 12px;
	height: 100%;
}

.title {
	font-size: 28px;
	white-space: nowrap;
	font-weight: 1000;
	font-family: var(--secondary-font);
}

.subtitle {
	font-size: 17px;
	white-space: nowrap;
}