@font-face {
	font-family: 'Play';
	src: url('Play-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Play';
	src: url('Play-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}